.gradient-custom-2 {
    /* fallback for old browsers */
    background: #ffffff;
    border: 1px solid white;
    box-shadow: 3px 2px 3px 2px #ccc;
  
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, #ee7724, #f7ebda, #d9f5c3, #00fd00);
  
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, #ee7724, #fff, #d9f5c3, #00fd00);
  }
  
  @media (min-width: 768px) {
    .gradient-form {
      height: 100vh !important;
    }
  }
  @media (min-width: 769px) {
    .gradient-custom-2 {
      border-top-right-radius: .3rem;
      border-bottom-right-radius: .3rem;
    }
  }